
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap")
 
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}

.shadow-3xl {
  --tw-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 10px 40px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hoverBtn {
  transition: all 0.4s ease 0s !important;
}
.hoverBtn:hover {
  transform: scale(1.05);
  overflow: hidden !important;
}